{% extends "base.html" %}
{% load static %}
{% block body %}

  
      <!-- Breadcrumb Area Start -->
      <section class="peulis-breadcrumb-area">
         <div class="breadcrumb-top">
            <div class="container">
               <div class="col-lg-12">
                  <div class="breadcrumb-box">
                     <h2>Tour Details</h2>
                      <ul class="breadcrumb-inn">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="#">Tour Details</a></li>
                      </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb Area End -->
       
       
      <!-- Tour Details Area Start -->
      <section class="peulis-tour-details-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-lg-8">
                  <div class="tour-details-left">
                     <div class="tour-details-head">
                        <h3>{{object.name}} <span> <span class="tour_price">{{object.price}}</span> / per person </span></h3>
                        <div class="tour-rating">
                           <ul>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star-o"></i></li>
                           </ul>
                           <p>(2 Review) </p>
                        </div>
                     </div>
                     <div class="tour-details-image">
                        <img src="{{property.image.url}}" alt="Tour" />                     </div>
                     <p>{{object.description|safe}}</p>
                     
                     <div class="tour-gallery">
                        <h3>Gallery</h3>
                        <div class="tour-gallery-slider owl-carousel">
                       {% for image in object.proper_Images.all %}
                           <div class="single-gallery-tour">
                              <img src="{{image.image.url}}" alt="tour" />
                           </div>
                        {% endfor %}
                           </div>
                     </div>
                     <div class="peulis-comment-list">
                        <div class="comment-group-title">
                           <h3>Tour Reviews</h3>
                        </div>
                        <div class="single-comment-item">
                           <div class="single-comment-box">
                        {% for property in object.proper_Images.all %}
  
                              <div class="main-comment">
                                 <div class="author-image">
                                    <img src="assets/img/4.jpg" alt="author">
                                 </div>
                                 <div class="comment-text">
                                    <div class="comment-info">
                                       <h4>david kamal</h4>
                                       <ul>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                       </ul>
                                       <p>4 minitues ago</p>
                                    </div>
                                    <div class="comment-text-inner">
                                       <p>Ne erat velit invidunt his. Eum in dicta veniam interesset, harum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        {% endfor %}
                     <div class="peulis-leave-comment">
                        <h3>Leave a Review</h3>
                        <form>
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="comment-field">
                                    <p>Rating :</p>
                                    <div class="star-rating">
                                       <input id="star-5" type="radio" name="rating" value="star-5">
                                       <label for="star-5" title="5 stars">
                                       <i class="active fa fa-star" aria-hidden="true"></i>
                                       </label>
                                       <input id="star-4" type="radio" name="rating" value="star-4">
                                       <label for="star-4" title="4 stars">
                                       <i class="active fa fa-star" aria-hidden="true"></i>
                                       </label>
                                       <input id="star-3" type="radio" name="rating" value="star-3">
                                       <label for="star-3" title="3 stars">
                                       <i class="active fa fa-star" aria-hidden="true"></i>
                                       </label>
                                       <input id="star-2" type="radio" name="rating" value="star-2">
                                       <label for="star-2" title="2 stars">
                                       <i class="active fa fa-star" aria-hidden="true"></i>
                                       </label>
                                       <input id="star-1" type="radio" name="rating" value="star-1">
                                       <label for="star-1" title="1 star">
                                       <i class="active fa fa-star" aria-hidden="true"></i>
                                       </label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="comment-field">
                                    <textarea class="comment" placeholder="Comment..." name="comment"></textarea>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-6">
                                 <div class="comment-field">
                                    <input class="ns-com-name" name="name" placeholder="Name" type="text">
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="comment-field">
                                    <input class="ns-com-name" name="email" placeholder="Email" type="email">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="comment-field">
                                    <button type="submit" class="peulis-theme-btn">post comment</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="sidebar-widget">
                     <div class="single-sidebar">
                        <div class="quick-contact">
                           <h3>Book This Tour</h3>
                           <form>
                              <div class="book-tour-field">
                                 <input type="text" placeholder="Your Name">
                              </div>
                              <div class="book-tour-field">
                                 <input type="email" placeholder="Email Address">
                              </div>
                              <div class="book-tour-field">
                                 <input type="tel" placeholder="Phone Number">
                              </div>
                              <div class="book-tour-field">
                                 <input id="reservation_date" name="reservation_date" placeholder="Departure Date" data-select="datepicker" type="text">
                              </div>
                              <div class="book-tour-field clearfix">
                                 <select class="wide">
                                    <option selected disabled>Number Of Person</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4+</option>
                                 </select>
                              </div>
                              <div class="book-tour-field">
                                 <button type="submit">Book Now</button>
                              </div>
                           </form>
                        </div>
                     </div>
                     <div class="single-sidebar">
                        <h3>More Information</h3>
                        <ul class="more-info">
                           <li>
                              <span><i class="fa fa-phone"></i> Phone Number:</span>
                              1-567-124-44227
                           </li>
                           <li>
                              <span><i class="fa fa-clock-o"></i> Office Time:</span>
                              9am - 5pm
                           </li>
                           <li>
                              <span><i class="fa fa-map-marker"></i> Office Location:</span>
                              5520 Quebec Place
                           </li>
                        </ul>
                     </div>
                     <div class="single-sidebar">
                        <img src="assets/img/destination.jpg" alt="destination" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Tour Details Area End -->\
      {% endblock body%}